.jumbotron {
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #E0FFFF;
  border-radius: 0.6rem;
}

table.a {
  table-layout: auto;
  width: 100%;
  text-align: center;
}

table.b {
  vertical-align: middle;
}

.bg-blue {
  background-color: #4682B4 !important;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.lista {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 6.5rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
  list-style-type: decimal;
}

.row > .column {
  padding: 80px 1px;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
